html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  img{ 
      max-width: 100%;
      height:auto;
    }
    
  body{
    color:rgb(97, 0, 40);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 50px;
    display: flex;
    
      background-color: rgb(255, 162, 178);
  }
  
  .height-el {
    width: 50%;
  }
  
  table {
    border: 1px solid #3f1626;
    width: 100%;
    border-collapse: collapse;
    margin: 20px, 0;
  }
  
  caption {
    font-weight: bold;
    margin: 10px;
  }
  
  tr:hover {
    background-color: rgba(255, 0, 128, 0.2);
  }
  
  th {
    background-color: #b60e40;
    padding: 10px;
  }
  
  td {
    border: 1px solid #66043d;
    padding: 5px;
  }

  .figure-caption {
    color: rgb(255, 0, 119);
  }
    
    @media screen and (min-width:992px) {
      
    }
    
    
    /*----------------------Edge Case Tweaks-----------------------*/
    
    
    @media screen and (max-width: 600px) {
  
      header.primary nav ul {
        flex-direction: column;
        max-width: 250px;
        margin: auto;
        gap: 10px;
      }
    }
    
    @media only screen and (max-width: 460px) {
      .related-links li a svg{display:none;}
      
    }
    
    @media only screen and (max-width: 395px) {
    .related-links{
    flex-direction:column;
    
    }
  
    .related-links a{
    display:block;
    }
  
  
    }