/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

main{
  margin: 2vh auto;
  display: grid;
  grid-template-columns: repeat(23, 1fr, 23, 1fr);
  grid-template-rows: auto;
  border: 1px solid #ff0000;
  /* background-image: url("../img/grid-2.png") */
  grid-gap: 20px;
  padding: 20px;
}

header.primary{
  background: rgba(177, 96, 159, 0.4);
  grid-column: 1 / 1;
  grid-row: 1 / 11.5;
}

footer.primary{
  background: rgba(177, 96, 159, 0.4);
  grid-column: 1 / .5;
  grid-row: 1 / 11.5;
}

#blog{
  background: rgba(255, 0, 179, 0.6);
 /* width: 700px; */
  width: 65.6987%;
  /* margin-left:20px; */
  margin: 2.1276%;
  padding: 2.127%;
  float:left;
}

aside{
  background: rgba(255, 127, 255, 0.3);
 /* width: 260px; */
  width: 25%;
  /* margin-left:20px; */
  margin: 2.127%;
  /* padding: 20px */
  padding: 2.9999999999999999999999999999999999999999999999999%;
  float:right;
}
